.MyModal{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.51);
}

.MyModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyModalContent{
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid dodgerblue;
    min-width: 250px;
    max-width: 1200px;
}