#root{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.btn-danger{
    border: 1px solid red!important;
    color: red!important;
}

.post{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid green;
}


.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}


.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.paginations{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.page{
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid dodgerblue;
    color: dodgerblue;
}

.page__current{
    color: #fff;
    background-color: dodgerblue;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}